/* Media Query -> Responsive */


.item{
    background-color: red;
    height: 200px;
    width: 200px;
}

/* 
    sm -> 567px 
    md -> 768px 
    lg -> 992px 
    xl -> 1200px
    xxl -> 1400px
*/

@media screen and (min-width: 567px){
    .item{
        background-color: green;
    }
}

@media screen and (min-width: 768px){
    .item{
        background-color: blue;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px){
    .item{
        background-color: black;
    }
}

@media screen and (min-width: 992px){
    .item{
        background-color: yellowgreen;
    }
}

