*{
    margin: 0;
}

.item{
    width: 100px;
    height: 100px;
    background-color: gray;
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 20px;
}

/* position -> relative, absolute, sticky, fixed */

/* .outer{
    width: 500px;
    height: 500px;
    background-color: red;
    position: relative;
} */

/*  display -> inline, inline-block, block, flex, grid */

span{
    display: inline-block;
    background-color: red;
    height: 100px;
    width: 100px;
}